header {
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: #fff;
    min-height: 100px;
    padding-top: 25px;
}

header form {
    float: right;
}

.logo{
    float: left;
}

header form {
    float: right; 
    color:black;

}
input{
    max-width: 100px;
}
.form-control {
    width: 100%;
    border: none;
    padding: 10px 25px;
}

.alert{
   
    color:black;
} 



/* .btn >.caret,
.dropup > .btn > .caret{
    border-top-color:#000 ;
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .name{
        
        align-items: center;
    }
    header form {
        float:inline-end;
    }

} */